<div id="user" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER SYSTEM ADMIN -->
    <div *ngIf="isSystemAdmin" class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">user</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'ACSS.ACSS'
          | translate}}</span>
      </div>
      <!-- / APP TITLE -->
      <!-- BUSINESS FILTER -->
      <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <label for="search" style="margin-bottom: 10px" class="mr-20">
            <span class="mat-title">{{'ACSS.BUSINESS' | translate}}</span>
          </label>
          <form name="businessForm" [formGroup]="businessForm" fxLayout="row" fxFlex>
            <mat-form-field class="w-100-p">
              <mat-select placeholder="{{'ACSS.SELECT_BUSINESS' | translate}}" (selectionChange)="onSelectBusinessEvent($event.value)">

                <mat-option *ngFor="let business of allBusiness" [value]="business">
                  {{business.name}} - {{business._id}} 
                </mat-option>

              </mat-select>
              <mat-error *ngIf="businessForm.hasError('required', ['business'])">
                {{'ACSS.BUSINESS_REQUIRED' | translate}}
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <!-- / BUSINESS FILTER -->
    </div>
    <!-- / HEADER SYSTEM ADMIN-->


    <!-- HEADER BUSINESS-->
    <div *ngIf="!isSystemAdmin" class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom>

          <label for="search" style="margin-bottom: 10px" class="mr-20">
            <span class="mat-title">{{'ACSS.ACSS' | translate}}</span>
          </label>
          <div class="subtitle" *ngIf="selectedBusiness">
            {{selectedBusiness.name}}
          </div>

          <div class="subtitle secondary-text">
            <span>{{'ACSS.CLEARING_LIST' | translate}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER BUSINESS-->

    <!-- CONTENT CARD -->

    <div class="content-card mat-white-bg">

      <div fxLayout="column" style="width: 100%; justify-content: space-between" fxLayout.gt-sm="row">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
          <mat-table id="item-table" class="item-table" #table [dataSource]="dataSource">

            <!-- Timestamp Column -->
            <ng-container cdkColumnDef="timestamp">
              <mat-header-cell *cdkHeaderCellDef>{{'ACSS.TIMESTAMP' | translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let clearing">
                <p class="text-truncate">{{clearing.timestamp | date: 'd/MM/y HH:mm:ss'}}</p>
              </mat-cell>
            </ng-container>

            <!-- LastupdateTimestamp Column -->
            <ng-container cdkColumnDef="lastUpdateTimestamp">
              <mat-header-cell *cdkHeaderCellDef>{{'ACSS.LAST_UPDATE_TIMESTAMP' | translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let clearing">
                <p class="text-truncate">{{clearing.lastUpdateTimestamp | date: 'd/MM/y HH:mm:ss'}}</p>
              </mat-cell>
            </ng-container>

            <!-- Open Column -->
            <ng-container cdkColumnDef="open">
              <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{'ACSS.OPEN' | translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let clearing" fxHide fxShow.gt-xs>
                <mat-icon *ngIf="clearing.open" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                <mat-icon *ngIf="!clearing.open" class="active-icon mat-red-500-bg s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- projected balance Column -->
            <ng-container cdkColumnDef="projected_balance">
              <mat-header-cell *cdkHeaderCellDef>{{'ACSS.PROJECTED_BALANCE' | translate}}</mat-header-cell>
              <mat-cell *cdkCellDef="let clearing">
                <p class="text-truncate">{{calculateProjectedBalance(clearing) | currency}}</p>
              </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *cdkRowDef="let clearing; columns: displayedColumns;"
              (click)="selectClearingRow(clearing)"
              [ngClass]="{'highlight': selectedClearing && selectedClearing._id == selectedClearing._id}"
              matRipple [routerLink]="'acss-detail/'+clearing._id">
            </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="1000" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>
    </div>

    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
