<div id="user" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER BUSINESS-->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom>

          <label for="search" style="margin-bottom: 10px" class="mr-20">
            <span class="mat-title">{{'ACSS.ACSS_ERRORS' | translate}}</span>
          </label>
          <div class="subtitle" *ngIf="selectedBusiness">
            {{selectedBusiness.name}}
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER BUSINESS-->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
        <mat-tab-group>
            <mat-tab label="{{'ACSS.ACCUMULATED_TRANSACTIONS_ERRORS' | translate}}">
              <app-accumulated-transaction-errors></app-accumulated-transaction-errors>
            </mat-tab>

            <mat-tab label="{{'ACSS.CLEARING_ERRORS' | translate}}">
              <app-clearing-errors></app-clearing-errors>
            </mat-tab>

            <mat-tab label="{{'ACSS.SETTLEMENT_ERRORS' | translate}}">
              <app-settlement-errors></app-settlement-errors>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
