.clearing-state {
  font-size: 18px;
  padding-bottom: 16px;

  .title {
      color: rgba(0, 0, 0, 0.54);
  }

  .value {
      padding-left: 6px;
  }
}

.highlight{
  background: #B9BBB9;
}

.product {
  position: relative;
  cursor: pointer;
  height: 84px;
}

.mat-table.adaptativeTable{
  height: 20vh;
}
