<mat-table id="accumulated-transaction-errors-table" #table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Timestamp Column -->
  <ng-container cdkColumnDef="timestamp">
    <mat-header-cell *cdkHeaderCellDef>{{'ACSS.DATE' | translate}}</mat-header-cell>
    <mat-cell *cdkCellDef="let log">
      <p class="text-truncate">{{log.timestamp | date: 'd/MM/y HH:mm:ss'}}</p>
    </mat-cell>
  </ng-container>

  <!-- Error Column -->
  <ng-container cdkColumnDef="error">
    <mat-header-cell *cdkHeaderCellDef>{{'ACSS.ERROR' | translate}}</mat-header-cell>
    <mat-cell *cdkCellDef="let log">
      <p class="text-truncate">{{log.error}}</p>
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let log" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail" [@detailExpand]="log == expandedElement ? 'expanded' : 'collapsed'">
        <div fxLayout="column" fxLayoutAlign="space-between start">
          
            <div class="h2"> {{'ACSS.ERROR' | translate}} </div>
            <div> {{log.error}} </div>

            <div class="pb-12">
            </div>         

            <div class="h2"> {{'ACSS.EVENT' | translate}} </div>
            <div> 
            <span> {{log.event}} </span>
            </div>
         

        </div>
      </div>
    </mat-cell>
  </ng-container>




  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *cdkRowDef="let log; columns: displayedColumns;"
    class="example-element-row"
      [class.example-expanded-row]="expandedElement === log"
      (click)="expandedElement = log">
  </mat-row>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</mat-table>

<mat-paginator #paginator [length]="tableSize" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>